<!DOCTYPE html>
<html>
    <head>

        {{ function('wp_head') }}

    </head>
    <body class="{{ body_class }}">

        {{ baseTemplate }}

        {% block content %}{% endblock %}

        {% if sidebar %}
            <aside class="layout-sidebar">
                {{sidebar}}
            </aside>
        {% endif %}         

    </body>
    <footer>

        {% block footer %}{% endblock %}

        {{ function('wp_footer') }}

    </footer>
</html>